h1 {
   color: red;
   background-color: blue;
}

h2 {
   background-color: green;
}

body {
   background-color: blueviolet;
}
footer {
   background-color: white;
   padding: 20px 50px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
 }

 .lien-icone {
   margin-left: 30px;
 }